# OS-specific files
.DS_Store
desktop.ini
Thumbs.db

# Development aids
.idea/
.vscode/
temp/
venv/
.venv/

# Build/compile/release artifacts
build/
dist/
*.egg-info
*.pyc
site

# Other temporary files
__pycache__
.*.swp

# AI Related
AGENTS.md
