docs/* linguist-documentation
examples/* linguist-documentation
tutorial/* linguist-documentation

**/*.tsv linguist-generated
**/*.csv linguist-generated
**/*.gv linguist-generated
**/*.html linguist-generated
**/*.png linguist-generated
**/*.svg linguist-generated
