.DS_Store
.eggs
__pycache__
.*.swp
*.egg-info
*.pyc
build
data
dist
venv/

.vscode/


# Jetbrains Stuff
# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/


# Windows
thumbs.db
desktop.ini