{% extends "page.html" %}
{% block title %}{{ title }}{% endblock %}
{% block extra_head_style %}
<style>

    /* custom count of rows depending on the sheetsize */
    {% if not show_bom %}
      {% set bottom_rows = titleblock_rows + 1 %}
    {% elif sheetsize == 'A4' %}
      {% set bottom_rows = bom_rows + titleblock_rows + 1 %}
    {% else %}
      {% set bottom_rows = [bom_rows, titleblock_rows]|max + 1 %}
    {% endif %}

    .A4 #diagram, .A3 #diagram {
        height: {{ 277 - bottom_rows * 4.25 }}mm;
    }

    .A2 #diagram {
        height: {{ 400 - bottom_rows * 4.25 }}mm;
    }

    #diagram {
      position: relative;
      top: 0;
      left: 0;
      max-width: 100%;
      text-align: center;
      vertical-align: middle;
    }

    #diagram svg, #diagram img {
      max-width: 95%;
      max-height: 100%;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
</style>

{% endblock %}

{% block frame_content %}
    <div id="diagram">
      {{ diagram }}
    </div>

    {% if show_notes %}
    {{ notes }}
    {% endif %}

    {% if show_bom %}
    {{ bom }}
    {% endif %}
{% endblock %}
