<style>
  .A4 #notes { /* NOTES on top of BOM */
    position: absolute;
    bottom: calc({{ titleblock_rows + bom_rows + 2 }} * 4.25mm);
    right: 0;
  }

  .A3 #notes, .A2 #notes { /* NOTES on top of title block */
    position: absolute;
    {% if notes_to_right %}
    bottom: calc({{ titleblock_rows + 1 }} * 4.25mm);
    right: 0;
    {% else %}
    bottom: calc({{ bom_rows + 1 }} * 4.25mm);
    left: 0;
    {% endif %}
  }

  #notes {
    font-size: 14px;
    font-style: italic;
  }

  .A4 #notes {
    width:180mm;
  }

  .A3 #notes, .A2 #notes {
    width:80mm;
    word-wrap: break-word;
    white-space: normal;
  }

  #notes ol, ul, li {
    text-align: left;
  }

</style>


<!-- NOTES TEMPLATE --!>
<div id="notes">

  <h3>Notes:</h3>
  {{ notes }}

</div>
