<style>
  .A4 #notes { /* NOTES on top of BOM */
    position: absolute;
    {% if show_bom %}
    bottom: {{ (titleblock_rows + bom_rows + 2) * 4.25 }}mm;
    {% else %}
    bottom: {{ (titleblock_rows + 1) * 4.25 }}mm;
    {% endif %}
    right: 0;
  }

  .A3 #notes, .A2 #notes { /* NOTES on top of title block */
    position: absolute;
    {% if notes_on_right %}
    bottom: {{ (titleblock_rows + 1) * 4.25 }}mm;
    right: 0;
    {% else %}
    {% if show_bom %}
    bottom: {{ (bom_rows + 1) * 4.25 }}mm;
    {% else %}
    bottom: 0;
    {% endif %}
    left: 0;
    {% endif %}
  }

  #notes {
    font-size: 14px;
    font-style: italic;
  }

  .A4 #notes {
    width:180mm;
  }

  .A3 #notes, .A2 #notes {
    width: {{ notes_width }};
    word-wrap: break-word;
    white-space: normal;
  }

  #notes ol, ul, li {
    text-align: left;
  }

</style>


<!-- NOTES TEMPLATE --!>
<div id="notes">

  <h3>Notes:</h3>
  {{ notes }}

</div>
