<div id="titleblock">
  <!-- REVISION TABLE --!>
  <table class=revisions style="float:left" >
    {% for revision in revisions %}
      <tr>
        {% for key in ['rev', 'changelog', 'date', 'name'] %}
          <td class={{ key }}> {{ revision.get(key, '') }} </td>
        {% endfor %}
      </tr>
    {% endfor %}
    <tr>
      <td class={{ rev }}><b>Rev</td>
      <td class={{ changelog }}><b>Date</td>
      <td class={{ date }}><b>Name</td>
      <td class={{ name }}><b>Changelog</td>
    </tr>
  </table>

  <!-- AUTHOR INFO + LOGO TABLE --!>
  <table class=author_info style="float:left" >
   <tr>
     <td class="process"></td>
     <td class="date"><b>Date</b></td>
     <td class="name"><b>Name</b></td>
   </tr>
   {% for author in authors %}
   <tr>
     <td><b>{{ author['row'] }}</b></td>
     <td> {{ author['date'] }}</td>
     <td> {{ author['name'] }}</td>
   </tr>
   {% endfor %}
   <tr>
     <td class="logo" colspan="3" rowspan="4" >
      <img src={{ logo }} alt="" style="height:auto; width:150px;display:block;margin-left:auto;margin-right:auto" />
     </td>
   </tr>
   <tr></tr>
   <tr></tr>
   <tr></tr>
  </table>

  <!-- HARNESS INFO TABLE --!>
  <table class=harness_info>
   <tr>
   <td class="company" colspan="4" rowspan="2"><b> {{ company }}</b></td>
   </tr>
   <tr></tr>
   <tr>
     <td class="company" colspan="4" rowspan="2"> {{ address }}</td>
   </tr>
   <tr></tr>
   <tr>
     <td class="title" colspan="4" rowspan="2"> {{ title }}</td>
   </tr>
   <tr></tr>
   <tr>
     <td class="partno" colspan="3" rowspan="3"> {{ pn }}</td>
     <td class="revision" colspan="1" rowspan="2"> {{ revision }}</td>
   </tr>
   <tr></tr>
   <tr>
     <td class="sheetno" colspan="1">Sheet {{ sheet_current }} of {{ sheet_total }}</td>
   </tr>
  </table>
</div> <!--/titleblock --!>

